body {
  margin: 0;
  overflow: hidden;
  background-color: black;
}

#view {
  position: absolute;
  cursor: crosshair;
  z-index: -1;
}

#stat-container {
  position: absolute;
}

#message {
  position: absolute;
  font: 32px monospace;
  color: white;
  bottom: 0;
  left: 0;
  text-align: left;
  padding: 0px;
  margin: 0px;
}